main {
    background-color: #001936;
}

p {
    color: white;
}

.title {
    color: black;
}

h1 {
    color: white;
}

.icon-container {
    height: 80px;
    width: 80px;
    padding-top: 25px;
    text-align: center;
    /* border: solid 1px grey; */
}

.post-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 530px;
    margin-left: 90px;
    /* border: solid red 1px; */
    background-color: white;
    border-radius: 5px;
   
}

.header-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #001936;
  
   
}

input {
    width: 80px;
    height: 30px;
}

.btn-primary {
    color: black !important;
    background-color: white !important;
    border: none !important;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin: 20px 10px 20px 10px; */
}

.posted-img {
    padding-bottom: 20px;
}

.user-img {
    padding-top: 20px;
}

.content-container {
    height: 150%;
    width: 500px;
    color: black;
    background-color: white;
    padding: 20px;
    margin: 0px 10px 20px 10px;
    border-radius: 5px;
}

.img-post-container {
    height: 150%;
    width: 500px;
    color: black;
    background-color: white;
    padding: 40px 0px 20px 0px;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
}

.post-footer {
    padding: 15px 10px 0px 10px;
    font-weight: 500;
}

.posted-message {
    padding: 0px 10px 0px 10px; 
}

/* Create new text post CSS */

input[type=text], select {
    width: 90%;
    height: 50px;
    padding: 12px 20px;
    font-size: 20pt;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    text-align: left;
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    resize: none;
  }

  .dashboard-content {
      /* border: solid 1px red; */
      background-color: #001936;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

  }

  .rec-container {
      display: flex;
      flex-direction: row;
      /* flex-wrap: wrap; */
      align-self: center;
      justify-content: space-between; 
      border-top: grey 1px solid;
      padding-top: 5px;
/*    
      border: solid 1px pink; */
  }

  .rec-text {
    /* border: solid 1px red; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* width: 50%; */
  }

  .tagline {
    font-size: 11pt;
    color: grey;
  }

  .rec-img {
    display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 10px;

  }

  .sectionthatisnoticon {
      display: flex;
      flex-direction: wrap;
  }
  
  section {
      /* border: solid 1px red; */
      width: 70%;
     
  }

  .rec-icon-container {
    display: flex; 
    float: right;
    flex-direction: column;
    /* border: solid 1px red; */
    
     justify-content: center;
  }
