 <!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>Headmaster2</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <form action="/posts" method="post">
    <input type="text" name="postedMessage" placeholder="Your text here"/>
    <br><br>
    <button type="submit">Post</button>

  </form>

    <main>{{{postListHTML}}}</main>
</body>

</html>
