<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Bootstrap-->
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <title>Tumblr Clone</title>
</head>
<body cz-shortcut-listen="true">
  <!--------------- Navbar ------------------>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #001936;" style= "color: gray;">
        <a class="navbar-brand" href="https://www.tumblr.com/"><h1>t</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline my-4 my-lg-0 input-large" method="get" action="/search" id="search_form">
            <input class="form-control mr-md-4" name="search" type="search" placeholder="Search Tumblr Clone" aria-label="Search">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</input>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex flex-row justify-content-end">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Explore-Trending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inbox</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messaging</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Activity</a>
            <li class="nav-item active">
              <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Make A Post</a>
            </li>
          </ul>
        </div>
      </nav>
<!--------------- End of Navbar ------------------>
    <h1 class="title">Welcome to Tumblr!</h1>
    <div class="post-header">
        <div class="icon-container">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <img src="img/text.png" height="30px">
              </button>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                     
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

    <!-- ===================FORM STARTS HERE ====================== -->

                        <form action="/posts" method="post" id="form1">
                            <input type="text" name="title" placeholder="Title"/>
                            <br>
                            <textarea name="postedMessage" rows="5" cols="50">
                               Your text hereee
                                </textarea>
                        
                          </form>
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" form="form1">Post</button>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#photoModal">
                <img src="img/photo.png" height="30px">
        </button>
        <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
             
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

    <!-- ===================FORM STARTS HERE ====================== -->

    <form action="images/photo.png" onchange="previewFile()" >
        Select image to upload: <br>
        <input type="file" name="file" id="file" value><br>
        <label for="file"> Select a file to upload</label><br>
        <input type="submit" value="Submit">
      </form>
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" form="form3">Post</button>
                    </div>
                  </div>
                </div>
              </div>


        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quoteModal">
                <img src="img/quote.png" height="30px">
        </button>
        <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                  
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

    <!-- ===================FORM STARTS HERE ====================== -->

                        <form action="/quotes" method="post" id="form2">
                            <input type="text" name="quote" placeholder='"Quote"'/>
                            <br>
                            <textarea name="source" rows="5" cols="50">
                               -Source
                                </textarea>
                        
                          </form>
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" form="form2">Post</button>
                    </div>
                  </div>
                </div>
              </div>


        <div class="icon-container">
                <img src="img/link.png" height="30px">
        </div>
        <div class="icon-container">
                <img src="img/chat.png" height="30px">
        </div>
        <div class="icon-container">
                <img src="img/music.png" height="30px">
        </div>
        <div class="icon-container">
                <img src="img/video.png" height="30px">
        </div>
        </div>
    </div>

<div class="dashboard-content">
    <main>{{{postsHTML}}}</main>
    <div class="recommended-blogs-container">
        <h4>Recommended blogs</h4>
        <section>{{{ recommendedHTML }}}</section>
    </div>
</div>
    <!-- ===================== Facebook OAuth Strategy=====================-->
  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 714303202382978,
          cookie     : true,
          xfbml      : true,
          version    : 4.0
        });
          
        FB.AppEvents.logPageView();   
          
      };
    
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

</body>
</html>