<html>

<body>
  <h1>Login Page</h1>
  <form action="/auth/local" method="post">
    <div>
      <label>Email:</label>
      <input type="text" name="username" required/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" required/>
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>
  <a href='/register'>You haven't registered yet?</a>
</body>

</html>