<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Registration</title>
</head>

<body>
    <h1>Sign Up Page</h1>
    <form action="/register" method="post" enctype="multipart/form-data">
        <div>
            <label>Username:</label>
            <input type="text" name="name" required />
        </div>
        <div>
            <label>User Image:</label>
            <input type="file" name="userImage" />
        </div>
        <div>
            <label>Slug:</label>
            <input type="text" name="slug" />
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="email" required />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required />
        </div>
        <button type="submit">Submit!</button>
    </form>
</body>

</html>