<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>Success</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Success Page</h1>
  <p>{{{successHTML}}}</p>
  <img src="https://media.giphy.com/media/iESc3Uc5tqGRy/giphy.gif"> 
  
</body>

</html>